<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    I am a data scientist and open source contributor, primarily developing in Python. 
    My main interests include machine learning, statistics and numerical methods. 
    <br>
    <br>
    My current tech stack is:
    <ul>
        <li>Shell: bash</li>
        <li>IDE: PyCharm/VS Code</li>
        <li>OS: Ubuntu</li>
        <li>Editor: vim</li>
    </ul>
    
    Open source libraries I have contributed to include:
    <ul>
        <li>cPython</li>
        <li>pandas</li>
        <li>scikit-learn</li>
        <li>shap</li>
        <li>lime</li>
    </ul>
</div>